
extends ./layout.jade
block content
  div(style="text-align:center;padding:20px")
    div(style="text-align:center;font-size:200px") 403
    p
    h2 You are not permitted to perform this action
    //- a(href="http://en.wikipedia.org/wiki/HTTP_403") Why 
    //- span might this be happening?