doctype html
html
  head
    title Blogging App

    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')

    link(rel="stylesheet", href="/styles/importer.css")
    block scripts
      script(src="http://code.jquery.com/jquery-1.11.3.min.js")
      script(src="http://code.jquery.com/jquery-migrate-1.2.1.min.js")
      script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")

  body
    include navbar.jade
    .container
      
      block content
    script(src="/js/dependencies/sails.io.js")