doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='/favicon.ico')
    title Blogging App
    
  -var userId = req.cookies.userId
  -var userRole = req.cookies.userRole
  body
    // Fixed navbar
    .navbar.navbar-default.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          -if (!userRole || userRole == "user")
            a.navbar-brand(href='/') My Blogging Site
          -else
            a.navbar-brand(href='/')= accessCheck.getRole(req, res) + " Dashboard"
        .navbar-collapse.collapse
          -if(userRole == "admin")
            ul.nav.navbar-nav
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | Blogs 
                  span.caret
                ul.dropdown-menu(role='menu')
                  li
                    a(href='/blogs') All
                  -if(userId)
                    li
                      a(href='/users/'+ userId + '/blogs') My Blogs
                  li
                    a(href='/blogs/new') New
                li
                  a(href='/users') Users
                  
          -else if(userRole == "user")
            ul.nav.navbar-nav
                li
                  a(href='/blogs') All Blogs
                -if(userId)
                  li
                    a(href='/users/'+ userId + '/blogs') My Blogs
                li
                  a(href='/blogs/new') New Blog
               
          -else if(!userRole)
            ul.nav.navbar-nav
              li
                a(href='/blogs') All Blogs

          ul.nav.navbar-nav.navbar-right
            -if(userId)
              li
                a(href='/users/' + userId) Profile
              li
                a(href='/logout') Log Out
            -else
              li
                a(href='/login') Log In
              li
                a(href='/signup') Sign Up
    div(style="height: 60px")