extends ../layout.jade
block content
 
 .container
  h2= req.user.name + "'s blogs"
  -if(blogs)
     - each blog in blogs
       .container
         blockquote
           p 
             a(href="/blog/" + blog.id)= blog.title
           p
             small= "By " + blog.author.name
         p
  -if(blogs.length == 0)
    div(class="alert alert-warning", role="alert")
      p  Sorry, You haven't written any blogs !!