extends ../layout.jade
block content
 -if(message)
  div(class="alert alert-success alert-dismissible", role="alert")
   button(type="button", class="close", data-dismiss="alert", aria-label="Close")
    span(aria-hidden="true") &times;
   p!= message

 .contaner
  h2 All blogs
  -if(blogs)
     - each blog in blogs
       .container
         blockquote
           p= blog.title
           p
             small= "by " + blog.author.username
         p