extends ../layout.jade
block content
 .container
  h2 All blogs
  -if(blogs)
     - each blog in blogs
       .container
         blockquote
           p 
             a(href="/blogs/" + blog.id)= blog.title
           p
             small
              span By 
              a(href="/users/" + blog.author.id)= blog.author.name
              span= " on " + time.formatedTime(blog.createdAt)
         p
  -if(blogs && blogs.length == 0)
    div(class="alert alert-warning", role="alert")
      p  Sorry, No blogs to show !!