extends ../layout.jade
block content
 -if(message)
  div(class="alert alert-success alert-dismissible", role="alert")
   button(type="button", class="close", data-dismiss="alert", aria-label="Close")
    span(aria-hidden="true") &times;
   p!= message

 .container
  h2 All blogs
  -if(blogs)
     - each blog in blogs
       .container
         blockquote
           p 
             a(href="/blog/view/" + blog.id)= blog.title
           p
             small= "By " + blog.author.name
         p