extends ../layout.jade
block content
 
 .container
  h2= req.user.name + "'s blogs"
  -if(blogs)
     - each blog in blogs
       .container
         blockquote
           p 
             a(href="/blog/view/" + blog.id)= blog.title
           p
             small= "By " + blog.author.name
         p